<div class="chose">
    <div class="container">
        <div class="row">
            <p-card>
                <div class="col">

                    <p-dropdown [options]="cryptos" [(ngModel)]="selectedCrypto" optionLabel="name" placeholder="Select"
                        (onChange)="onChangeDropdown()" />

                    <p-button label="Subscribe" severity="info" [raised]="true" size="small" class="sub-btn"
                        [disabled]="isDisabledBtn" (onClick)="onSubscrButtonClick()" />
                </div>
            </p-card>


        </div>

    </div>
</div>
<div class="market-data-container">
    <div class="container">
      <div class="row">
        <p-card header="Market data:">
          <ng-container *ngIf="!hasError; else errorTemplate">
                <div class="market-container">
                    <div class="market-row">
                      <div class="item">
                        <div>Symbol</div>
                        <div class="subtext">{{ symbol }}</div>
                      </div>
                      <div class="item">
                        <div>Price</div>
                        <div class="subtext">{{ cryptoPrice | currency:'USD' }}</div>
                      </div>
                      <div class="item">
                        <div>Time</div>
                        <div class="subtext">{{ lastUpdate }}</div>
                      </div>
                    </div>
                  </div>
            
          </ng-container>
          <ng-template #errorTemplate>
            <div class="error-message">
                <p-messages severity="error">
                    <ng-template pTemplate>
                        {{ errorMessage }}
                    </ng-template>
                </p-messages>

            </div>
          </ng-template>
        </p-card>
      </div>
    </div>
  </div>
<div *ngIf="isSubscribe">
    <app-historical [isSubscribed]="isSubscribe" [cryptoSymbolId]="symbol_Id" [labelForDataSet]="labelDataset" />
</div>